.imag
{
	 height: 250px;
  width: 50%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 45%;
  border-top-left-radius: 25%;
  top: 0px;
  left: 50px;
  clear: both;
}
.colb
{
	border:5px solid;
	border-radius: 10px;
}
.r1
{
	padding:;
}
.imag2
{
	
	 height: 230px;
  width: 230px;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 45%;
  border-top-left-radius: 25%;
  top: 0px;
  left: 50px;
  position: relative;
  clear: both;
  z-index: 1;
}
.border1{
	height: 280px;
  width: 290px;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 45%;
  border-top-left-radius: 25%;
  position: relative;
  top: -150px;
  left: 0%;
  clear: both;
  z-index: -1;
  border: 3px solid #f7096e;
}
.sec3
{
	padding-top: 86px;
}
.figure{
  width:200px;
  padding: 10px;
  height: 300px;
  margin: 3%;
  border: 1px solid gray;
  border-radius: 10%;
}
#pop
{
	margin-top: 50px;
	width: 100%;
	height:189px;
	background-color: red;
	background-image: linear-gradient(to right,red,deeppink);
}
#imag6
{
	background-image: url("/home/cedcoss/Desktop/Images/off7.jpeg");
	opacity: .9;
	height: 72%;
	background-size:cover;
}
.foot
{
	display: inline;
}
.border2
{
	height: 200px;
  width: 250px;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 45%;
  border-top-left-radius: 25%;
  position: relative;
  top: -270px;
  left: 8%;
  clear: both;
  z-index: 1;
  border: 3px solid #f7096e;
}
.row
{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
#panel{
  padding: 50px;
  display: none;
}
.slider
{
  width:1350px;
  height: 590px;
  overflow: hidden;

}
.slides
{

  list-style: none;
  width:5400px;
  padding: 0px;
}
.slide
{

  float:left;
  width:1350px;
}
.slide img
{
  height: 590px;
  width: 1350px;

}
.im
{
  width: 100%;
}
/*#sl
{
  height: auto;
  width: 100%;
}*/
/*#ffa1
{
  position: absolute;
  opacity: .7;
  top: 45%;
  left:;
}
#ffa2
{
  position: absolute;
  opacity: .7;

}*/
/*#c2
{
  position: absolute;
  padding-top: 42%;
  padding-left: 50%;
  color: white;
}
#c1
{
  position: absolute;
  padding-top: 42%;
  padding-left: 47%;
  color: red;
}

#c3
{
  position: absolute;
  color: white;
  padding-top: 42%;
  padding-left: 52.5%;
}
#c4
{
  position: absolute;
  color: white;
  padding-top: 42%;
  padding-left: 55%;
}*/
/*@media only screen and (max-width: 1000px) {
  
#ffa1
{
  position: absolute;
  padding-top: 28%;
  padding-bottom: 20%;
  color: white;
  padding-left: 1%;
  opacity: .7;

}
  #ffa2
{
  position: absolute;
  color: white;
  float: right;
  padding-left: 92.5%;
  padding-top: 28%;
  padding-bottom: 20%;
  opacity: .7;
}
#c2
{
  position: absolute;
  padding-top: 63%;
  padding-left: 50%;
  color: white;
}
#c1
{
  position: absolute;
  padding-top: 63%;
  padding-left: 47%;
  color: red;
}

#c3
{
  position: absolute;
  color: white;
  padding-top: 63%;
  padding-left: 52.5%;
}
#c4
{
  position: absolute;
  color: white;
  padding-top: 63%;
  padding-left: 55%;
}
}
*/


.dotIcons{
  position: absolute;
  bottom: 1.8%;
  left: 48%;
  color: white;
  opacity: .7;


}
/*
.lrIcons{
  position: absolute;
  top: 50%;
  color: black;
  opacity: .6;
  width: 100%;

}*/

.lIcons{
  position: absolute;
  top: 45%;
  left: 3%;
  color: white;
}

.rIcons{
  position: absolute;
  top: 45%;
  right: 3%;
  color: white;
}